body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.giphy-list {
    max-width: 1024px;

    background-color: #EEEEEE;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.giphy-item {
    margin-top: 10px;
    margin-bottom: 10px;
}


.giphy-box {
    min-width: 210px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    background-color: #fff;
    padding: 8px;
}


.giphy-preview {
    min-height: 200px;
    min-width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.giphy-avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.giphy-avatar a {
    text-decoration: none;
}

.giphy-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.giphy-icon-with-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    cursor: default;
}

.giphy-icon-with-number span {
    font-size: 12px;
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .giphy-list {
        max-width: 768px;
    }
}

@media screen and (max-width: 640px) {
    .giphy-list {
        max-width: 640px;
    }

    .giphy-box {
        min-width: 180px;
    }

    .giphy-preview {
        min-height: 150px;
        min-width: 150px;
    }
}
